<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="Pathoschild.FluentNexus" version="1.0.5" targetFramework="net46" />
  <package id="Pathoschild.Http.FluentClient" version="4.1.0" targetFramework="net46" />
</packages>