<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Nexus.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Nexus.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="65000"/>
		</connectionManagement>
	</system.net>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="NexusBinding" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="2147483647"/>
				</binding>
			</webHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://nmm.nexusmods.com/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="GatekeeperNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/oblivion/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="OBNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/morrowind/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="MWNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/newvegas/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="FONVNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/fallout3/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="FO3NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/fallout4/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="FO4NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/skyrim/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="SKYRIMNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/skyrimspecialedition/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="SKYRIMSENexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/worldoftanks/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="WOTNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/grimrock/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="LOGNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/darksouls/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="DSNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/darksouls2/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="DS2NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/dragonage/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="DAONexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/dragonage2/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="DA2NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/dragonsdogma/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="DDDANexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/witcher2/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="W2NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/witcher3/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="W3NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/xrebirth/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="XRNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/elderscrollsonline/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="TESONexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/starbound/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="STARBOUNDNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/stateofdecay/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="SODNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/warthunder/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="WTNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/xcom2/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="XCOM2NexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/nomanssky/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="NMSNexusREST">
			</endpoint>
			<endpoint address="http://nmm.nexusmods.com/breakingwheel/" binding="webHttpBinding" bindingConfiguration="NexusBinding" contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi" name="BWNexusREST">
			</endpoint>
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Nexus.Client.Properties.Settings>
   <setting name="ModManagerUrl" serializeAs="String">
    <value>http://www.nexusmods.com/content/modmanager/</value>
   </setting>
   <setting name="HelpLinks" serializeAs="Xml">
    <value>
     <KeyedSettingsOfString>
      <item key="Beta Wiki">
       <string>http://wiki.nexusmods.com/index.php/Category:NMM</string>
      </item>
      <item key="Beta Forums">
       <string>http://forums.nexusmods.com/index.php?/forum/439-open-beta-feedback/</string>
      </item>
      <item key="Bug Report How To">
       <string>http://forums.nexusmods.com/index.php?/topic/460590-reporting-bugs/</string>
      </item>
      <item key="Report a Bug">
       <string>https://github.com/Nexus-Mods/Nexus-Mod-Manager/issues</string>
      </item>
     </KeyedSettingsOfString>
    </value>
   </setting>
  </Nexus.Client.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<Nexus.Client.Properties.Settings>
   <setting name="SettingsUpgraded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InstalledGamesDetected" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CacheOverhaulSetup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberedGameMode" serializeAs="String">
    <value />
   </setting>
   <setting name="ModCompressionLevel" serializeAs="String">
    <value>Ultra</value>
   </setting>
   <setting name="ModCompressionFormat" serializeAs="String">
    <value>SevenZip</value>
   </setting>
   <setting name="SelectedAddModCommandIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CheckForNewModVersions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AddMissingInfoToMods" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CloseModManagerAfterGameLaunch" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CloseModManagerAfterGameLaunchIsRemembered" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberGameMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScanSubfoldersForMods" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckForUpdatesOnStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserLocation" serializeAs="String">
    <value>default</value>
   </setting>
   <setting name="UseMultithreadedDownloads" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpdateCheckInterval" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="LastUpdateCheckDate" serializeAs="String">
    <value />
   </setting>
   <setting name="ModVersionsCheckInterval" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="MaxConcurrentDownloads" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="LastModVersionsCheckDate" serializeAs="String">
    <value />
   </setting>
   <setting name="TempPathFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="TraceLogFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowExpandedCategories" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowEmptyCategory" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HideModUpdateWarningIcon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SkipReadmeFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSidePanel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CategoryViewDefaultSortOrder" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CategoryViewDefaultSortColumn" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UseCategoryView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OfflineMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SupportOfflineMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowStartupMessage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckForTipsOnStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ForceHardLinks" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowAlphaDisclaimer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastCheckedMissingDownloadID" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowFallout4UpgradeDisclaimer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OverrideLocalModNames" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExecutablePaths" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="InstallationPaths" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="CompletedSetup" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfBoolean />
    </value>
   </setting>
   <setting name="ModFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="CustomGameModeSettings" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfPerGameModeSettingsOfObject />
    </value>
   </setting>
   <setting name="InstallInfoFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="DockPanelLayouts" serializeAs="Xml">
    <value>
     <KeyedSettingsOfString />
    </value>
   </setting>
   <setting name="CustomLaunchCommands" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="CustomLaunchCommandArguments" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="SelectedLaunchCommands" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="RepositoryUsernames" serializeAs="Xml">
    <value>
     <KeyedSettingsOfString />
    </value>
   </setting>
   <setting name="RepositoryAuthenticationTokens" serializeAs="Xml">
    <value>
     <KeyedSettingsOfKeyedSettingsOfString />
    </value>
   </setting>
   <setting name="DelayedSettings" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfKeyedSettingsOfString />
    </value>
   </setting>
   <setting name="InstalledGames" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="QueuedModsToAdd" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfKeyedSettingsOfAddModDescriptor />
    </value>
   </setting>
   <setting name="WindowPositions" serializeAs="Xml">
    <value>
     <WindowPositions />
    </value>
   </setting>
   <setting name="ColumnWidths" serializeAs="Xml">
    <value>
     <ColumnWidths />
    </value>
   </setting>
   <setting name="SplitterSizes" serializeAs="Xml">
    <value>
     <SplitterSizes />
    </value>
   </setting>
   <setting name="ToolFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="SupportedTools" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfKeyedSettingsOfString />
    </value>
   </setting>
   <setting name="VirtualFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="HDLinkFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="MultiHDInstall" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfBoolean />
    </value>
   </setting>
   <setting name="SkyrimSEFirstInstallWarning" serializeAs="String">
    <value>False</value>
   </setting>
  </Nexus.Client.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
