<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Nexus.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Nexus.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="65000"/>
		</connectionManagement>
	</system.net>
	<system.serviceModel>

		<client>
			<endpoint address="http://theelderscrolls.axel.tesnexus.com/"
					  binding="webHttpBinding"
					  bindingConfiguration="NexusBinding"
					  contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi"
					  name="TESNexusREST" >
			</endpoint>
			<endpoint address="http://newvegas.axel.tesnexus.com/"
					  binding="webHttpBinding"
					  bindingConfiguration="NexusBinding"
					  contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi"
					  name="FONVNexusREST" >
			</endpoint>
			<endpoint address="http://fallout3.axel.tesnexus.com/"
					  binding="webHttpBinding"
					  bindingConfiguration="NexusBinding"
					  contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi"
					  name="FO3NexusREST" >
			</endpoint>
			<endpoint address="http://skyrim.axel.tesnexus.com/"
					  binding="webHttpBinding"
					  bindingConfiguration="NexusBinding"
					  contract="Nexus.Client.ModRepositories.Nexus.INexusModRepositoryApi"
					  name="SKYRIMNexusREST" >
			</endpoint>
		</client>
		<bindings>
			<webHttpBinding>
				<binding name="NexusBinding" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="2147483647"/>
				</binding>
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
	<applicationSettings>
		<Nexus.Client.Properties.Settings>
			<setting name="ModManagerUrl" serializeAs="String">
				<value>http://www.tesnexus.com/content/modmanager/</value>
			</setting>
		</Nexus.Client.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<Nexus.Client.Properties.Settings>
			<setting name="SettingsUpgraded" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="RememberedGameMode" serializeAs="String">
				<value />
			</setting>
			<setting name="ModCompressionLevel" serializeAs="String">
				<value>Ultra</value>
			</setting>
			<setting name="ModCompressionFormat" serializeAs="String">
				<value>SevenZip</value>
			</setting>
			<setting name="SelectedAddModCommandIndex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="CheckForNewModVersions" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AddMissingInfoToMods" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RememberGameMode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CheckForUpdatesOnStartup" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QueuedModsToAdd" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfKeyedSettingsOfAddModDescriptor />
				</value>
			</setting>
			<setting name="InstallationPaths" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfString />
				</value>
			</setting>
			<setting name="CompletedSetup" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfBoolean />
				</value>
			</setting>
			<setting name="ModFolder" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfString />
				</value>
			</setting>
			<setting name="CustomGameModesettings" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfPerGameModeSettingsOfObject />
				</value>
			</setting>
			<setting name="InstallInfoFolder" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfString />
				</value>
			</setting>
			<setting name="WindowPositions" serializeAs="Xml">
				<value>
					<WindowPositions />
				</value>
			</setting>
			<setting name="ColumnWidths" serializeAs="Xml">
				<value>
					<ColumnWidths />
				</value>
			</setting>
			<setting name="SplitterSizes" serializeAs="Xml">
				<value>
					<SplitterSizes />
				</value>
			</setting>
			<setting name="CustomLaunchCommands" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfString />
				</value>
			</setting>
			<setting name="CustomLaunchCommandArguments" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfString />
				</value>
			</setting>
			<setting name="SelectedLaunchCommands" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfString />
				</value>
			</setting>
			<setting name="RepositoryUsernames" serializeAs="Xml">
				<value>
					<KeyedSettingsOfString />
				</value>
			</setting>
			<setting name="RepositoryAuthenticationTokens" serializeAs="Xml">
				<value>
					<KeyedSettingsOfKeyedSettingsOfString />
				</value>
			</setting>
			<setting name="DelayedSettings" serializeAs="Xml">
				<value>
					<PerGameModeSettingsOfKeyedSettingsOfString />
				</value>
			</setting>
		</Nexus.Client.Properties.Settings>
	</userSettings>
</configuration>